template(name="header")

  unless isSandstorm
    if currentUser
      #header-quick-access(class=currentBoard.colorClass)
        ul
          li
            a(href="{{pathFor 'home'}}")
              span.fa.fa-home
              | {{_ 'all-boards'}}
          each currentUser.starredBoards
            li.separator -
            li(class="{{#if $.Session.equals 'currentBoard' _id}}current{{/if}}")
              a(href="{{pathFor 'board' id=_id slug=slug}}")
                = title
          else
            li.current {{_ 'quick-access-description'}}


        a#header-new-board-icon.js-create-board
          i.fa.fa-plus(title="Create a new board")

        +headerUserBar

  #header(class=currentBoard.colorClass)
    #header-main-bar(class="{{#if wrappedHeader}}wrapper{{/if}}")
      +Template.dynamic(template=headerBar)

      unless hideLogo

        if isSandstorm
          .jinks-logo
            img(src="{{pathFor '/jinks-logo-header.png'}}" alt="Jinks")
        else
          a.jinks-logo(href="{{pathFor 'home'}}" title="{{_ 'header-logo-title'}}")
            img(src="{{pathFor '/jinks-logo-header.png'}}" alt="Jinks")

  if appIsOffline
    +offlineWarning

template(name="offlineWarning")
  .offline-warning
    p
      i.fa.fa-warning
      | {{_ 'app-is-offline'}}
